// VARS ------------------------------------------------------- */

$linkColor:salmon;

//Grid definition
$gridList:(one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve);
$gridWidth:960px;
$gridMargin:10px;
$columnWidth:60px;
$gutterWidth:20px;

// RESET ------------------------------------------------------- */
@import "compass/reset";

// MIXINS ------------------------------------------------------- */


// Creates a grid given the following params
//
// $p_gridList:    a list of class names to name the generated columns
// $p_gridList:    a width of the total grid including the left and right margins
// $p_columnWidth: width of a column
// $p_gutterWidth: width of a gutter

@mixin creatGrid($p_gridWidth:960px, $p_columnWidth:60px, $p_gutterWidth:20px, $p_gridList:null ){
     
     //if no grid list is supplied, we default to a 12 column grid
     @if $p_gridList == null { 
          $p_gridList:(one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve);
     }

     @for $i from 1 through length($p_gridList) {
            .#{ nth( $p_gridList, $i ) }{
                  width:  (( $i * $p_columnWidth + ( ($i - 1) * $p_gutterWidth ) ) / $p_gridWidth)*100%;
                  margin-left:( $p_gutterWidth / $p_gridWidth )*100%;
            }
      } 
}

@mixin targetScale( $targetScale ){
      -ms-transform:          scale($targetScale); // IE 9 */
      -moz-transform:         scale($targetScale); // Firefox */
      -webkit-transform:      scale($targetScale); // Safari and Chrome */
      -o-transform:           scale($targetScale); // Opera */
      transform:              scale($targetScale);
}

@mixin transitionTo( $target, $s, $ease ){
      -moz-transition:        $target $s $ease; // Firefox 4 */
      -webkit-transition:     $target $s $ease; // Safari and Chrome */
      -o-transition:          $target $s $ease; // Opera */
      -webkit-transition:     $target $s $ease;
}

/* FONTS ------------------------------------------------------- */
@font-face {
      font-family: DeliciousRoman;
      src: url(../fonts/Delicious-Roman.otf);
}

@font-face {
      font-family: JosefinSansRegular;
      src: url(../fonts/JosefinSans-Regular.ttf);
}

@font-face {
      font-family: JosefinSansSemibold;
      src: url(../fonts/JosefinSans-Semibold.ttf);
}

@font-face {
      font-family: JosefinSlabRegular;
      src: url(../fonts/JosefinSlab-Regular.ttf);
}

@font-face {
      font-family: JosefinSlabLightItalic;
      src: url(../fonts/JosefinSlab-LightItalic.ttf);
}

@font-face {
      font-family: CabinRegular;
      src: url(../fonts/Cabin-Regular.ttf.ttf);
}

/* GENERAL ELEMENTS --------------------------------------------- */
//*{ outline:1px solid red}

a{    text-decoration:none; }

h2 { font-size:10px }

body { 

      font-size:100%;
      color:#262626;
      line-height:1.125em;
      background-color:rgba(0,255,0,.1);
} 

p {   
       font-family:Helvetica, Arial, sans-serif;
      color:#4d4d4d;
      font-size:1em;
      line-height:1.6;
      margin-bottom:1.6em;
}

h1 {
      font-family:      'JosefinSansSemibold';
      font-size: 2em;
}

/* NAVIGATION & FOOTER ------------------------------------------ */

#navigationWrap{
      position:               fixed;
      margin:                 0;
      top:                    0px;
      width:                  100%;

      //-moz-box-shadow:        0px 1px 3px #888;
      //-webkit-box-shadow:     0px 1px 3px #888;
      //box-shadow:             0px -2px 8px #888;
      background-color:       rgba(0,0,0,.9);
          z-index:1000;
}

#logo {
      width:                  20.8333333333%;
      height:                 33px;
      margin-top:             20px;
      margin-left:            2.08333333333%; // (  20 / 960 ) * 100 
      float:                  left;
      text-transform:         uppercase;
      text-align:             center;
      color:                  white;
}

#nav{
      margin:                 0 auto;
      overflow:               auto; // key for div not collapsing 
   
      ul {
            margin-top:       16px;
            margin-left:      2.08333333333%; // (  20 / 960 ) * 100 
            float:            left;
       
      }

      li {  display:          inline;  

            a {
                  color:                  $linkColor;
                  padding:                20px 15px;  
                  font-family:            'JosefinSansSemibold';
                  letter-spacing:         .1em;
                  font-size:              .8em;
                  margin:                 0;
                  text-decoration:        none;
                  text-transform:         uppercase;
                  @include transitionTo(  all, 0.2s, linear);

                  &:hover, &:focus{
                        color:            #fff;
                        background:       rgba(0,0,0,.4);
                  }
            }
      }

}

#footer {
      background-color:       rgba(0,0,0,.9);
      width:                  100%;
      margin:                 0 auto;
      height:                 50px;
      text-align:             center;

      ul {
            overflow:         auto;
            display: inline-block;
      }

      li{
            float:left;
            padding-right:    30px;
            margin-top:       15px;
      
            &:last-child{
                  padding-right:     0;
            }
      }

      a{
            color:            $linkColor;
            text-decoration:  none;
            font-size:.8em;
      }

}

/* HERO ---------------------------------------------- */

#hero {
      width:                  100%;
      top:                    0;
      overflow:               hidden;
      text-align:             center;

      //position:               fixed;
      z-index:                -100;
      height:                 600px;
      //margin:auto;

      background: url(../images/corgi.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      img {
            //width:            100%;
            //max-width:        1400px;
            //min-width:        500px;
            //min-height:       600px;
            //max-width:100%;
            //margin:auto;
            //margin-left:-25%;
            //max-height:100%;

      }
}


/* COLUMNS ------------------------- */

#content{
      position:relative;
      margin:                 0px auto;
      margin-top:             -60px;
      background-color:       #fff;
      overflow:               auto; // key for div not collapsing */
      //-moz-box-shadow:        0px 1px 3px #888;
      //-webkit-box-shadow:     0px 1px 3px #888;
      //box-shadow:             0px -2px 8px #888;

}

.column {
      float:                  left;
      @include transitionTo(  all, .25s, ease);
}

.full {
      width:                  100%;
      max-width:              1400px;
}

@include creatGrid( $gridWidth, $columnWidth, $gutterWidth, $gridList );

//the definitions of these have to be after the grid system, otherwise they arfe overwritten
.first{
      margin-left:( $gridMargin / $gridWidth )*100%;
}

.last{
      margin-right:( $gridMargin / $gridWidth )*100%;
}

/* TYPOGRAPHY ---------------------- */

.pullQuote p{
      font:                   120% 'JosefinSlabLightItalic',serif;
      line-height:            180%;
      text-align:             right;
      padding-top:            15px;
      border-top:             5px solid;
}

aside {
      ul{
  
            margin-bottom:40px;
      }
      li {
            font:                   60% 'JosefinSansSemibold',serif;
            padding-bottom:         10px;
            padding-top:            10px;
            line-height:            140%;
            letter-spacing:         1px;
            //margin-bottom:          10px;
            text-transform:         uppercase;
            border-bottom:          1px dotted #000;
            margin-right:           2.08333333333%; 

            &:first-child{          border-top: 1px dotted #000; }
      }

      a{ color:               $linkColor; }


}

.flexImage {      width:      100%; }

a.imageLink{
      width:                  50%;
      float:                  right;
      margin-left:            2.08333333333%;
      border:                 5px solid black;
      display:                block;
      @include transitionTo(  all, 0.2s, linear);

      &:hover, &:focus {
            border:                 5px solid red;
            @include targetScale(1.1);
      }

}

.title{
      text-align:             center;
      text-transform:         uppercase;
      font-size:3em;
      line-height:            1.5em;
      letter-spacing:         .1em;
      padding-bottom:         20px;
      padding-top:            30px;
}

/* MEDIA QUERIES ------------------------- */

@media screen and (max-width: 780px) {

      #nav{ 
            text-align:       center;

            ul {
                  width:            95.8333333333%;
                  margin-right:     2.08333333333%; // (  20 / 960 ) * 100 */
                  margin-bottom:    17px;
            }

            li:first-child {
                  margin-left:      0;
            }
      }
      
      #logo {
            width:                  100%;
            margin-left:            0;
            margin-right:           0;
            margin-bottom:          0px;
      }

      #hero {
            margin-top:105px;
            height:500px;
      }
      
      .singleColumn {
            width:90%;
            margin-left: 5%;
            margin-right: 5%;
      }

      #quote, #story, #sidebar {
            @extend .singleColumn;
      }

      #quote {
            width:90%;
            margin-left: 5%;
            margin-right: 5%;
      }

      #quote p, #sidebar ul { text-align:center; }

}

@media screen and (max-width: 650px) {
      
      #nav{ 
            text-align:center; 

            ul {
                  width:            100%;
                  margin:           0;
            }

            li {
                  display:          block;
                  padding-top:      10px;
                  padding-bottom:   10px;
                  border-top:       1px dotted #000;
                  margin:           0;
                  overflow:         hidden;
            }
      }


      #hero {
            margin-top:0;
            height:500px;
      }

      #navigationWrap{
            position:relative;
      }

      .singleColumn {
            width:90%;
            margin-left: 5%;
            margin-right: 5%;
      }

      #story > p {
            font-size:1.1em;
      }
      
      #quote, #story, #sidebar {
            @extend .singleColumn;
      }

  
}


