@import "compass/css3";
@include font-face(DeliciousRoman,"../fonts/Delicious-Roman.otf"); 

/* FONTS ------------------------------------------------------- */
@font-face {
    	font-family: DeliciousRoman;
    	src: url(../fonts/Delicious-Roman.otf);
}


@font-face {
    	font-family: JosefinSansRegular;
    	src: url(../fonts/JosefinSans-Regular.ttf);
}

@font-face {
    	font-family: JosefinSansSemibold;
    	src: url(../fonts/JosefinSans-Semibold.ttf);
}

@font-face {
    	font-family: JosefinSlabRegular;
    	src: url(../fonts/JosefinSlab-Regular.ttf);
}

@font-face {
    	font-family: JosefinSlabLightItalic;
    	src: url(../fonts/JosefinSlab-LightItalic.ttf);
}

@font-face {
    	font-family: CabinRegular;
    	src: url(../fonts/Cabin-Regular.ttf.ttf);
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

body { 
    font-family:'DeliciousRoman', Helvetica, Arial, sans-serif;
    font-size:100%;
    color:#262626;
    line-height:1.125em;
} 

p { 
    color:#4d4d4d;
    font-size:1em;
    line-height:1.25em;
    margin-bottom:2.5em;
}

h1 {
    font-family:    'JosefinSansSemibold';
    font-size: 2em;
}

/* NAVIGATION & FOOTER ------------------------------------------ */

#navigationWrap{
    position:           fixed;
    margin:             0;
    top:                0px;
    width:              100%;
}

#nav{
    margin:             0 auto;
    background:         #fff;
    overflow:           auto; /* key for div not collapsing */
    -moz-box-shadow:    10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow:         0px 1px 3px #888;
}




#nav ul {
    width:              71%;
    margin-top:         16px;
    margin-left:        2.08333333333%; /* (  20 / 960 ) * 100 */
    float:              left;

    li {     
        display:        inline; 
        @include border-radius(4px, 4px); 
        a {    
            color:              #000;
            padding:            20px 15px;  
            font-family:        'JosefinSansSemibold';
            letter-spacing:     .1em;
            font-size:          .8em;
            margin:             0;
            text-decoration:    none;
            text-transform:     uppercase;
            -moz-transition:    all 0.2s linear; /* Firefox 4 */
            -o-transition:      all 0.2s linear; /* Opera */
            -webkit-transition: all 0.2s linear;

            &:hover, &:focus {
                color:              #fff;
                background:         rgba(0,0,0,.4);
            }
        }
    }




}

#logo {
    width:              20.8333333333%;
    height:             33px;
    margin-top:         20px;
    margin-left:        2.08333333333%; /* (  20 / 960 ) * 100 */
    float:              left;
    text-transform:     uppercase;
    text-align:         center;
}