/* line 14, ../sass/test.scss */
.test {
  width: 100%;
  overflow: auto;
  -moz-border-radius-top: 12px;
  -webkit-border-top-radius: 12px;
  -o-border-top-radius: 12px;
  border-top-radius: 12px;
}
/* line 20, ../sass/test.scss */
.test p {
  color: #ff0011;
}
/* line 22, ../sass/test.scss */
.test ul {
  padding: 12px;
  -moz-border-radius-top: 5px;
  -webkit-border-top-radius: 5px;
  -o-border-top-radius: 5px;
  border-top-radius: 5px;
}
/* line 27, ../sass/test.scss */
.test li {
  margin-left: 1px;
  padding: 0;
  -moz-border-radius-bottom: 5px;
  -webkit-border-bottom-radius: 5px;
  -o-border-bottom-radius: 5px;
  border-bottom-radius: 5px;
}
/* line 31, ../sass/test.scss */
.test li a {
  text-decoration: none;
}
/* line 33, ../sass/test.scss */
.test li a:hover, .test li a:focus {
  color: #ff0011;
  background: #ccc;
}
